<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  <body>
    <header class="headerEdit">
      <img class="logoAdmin" src="/images/logo-principal.png" alt="logo" />
      <div class="userAdmin">
        <p>Usuario: Nombre Usuario</p>
        <p>Cerrar Sesión</p>
      </div>
    </header>

    <div class="containerEdit">
      <div class="titleSearch">
        <h1>Editar o eliminar producto</h1>
        <div class="searchContainer">
          <input type="search" name="buscador" id="search" placeholder="Buscar" />
          <a href="#"><i class="fas fa-search"></i></a>
        </div>
      </div>
      <% productos.forEach(producto => { %>
       
      
      <div class="cardProduct">
        <div class="image">
          <img src="/images/<%= producto.image %> " alt=""/>
        </div>

        <div class="description">
          <p>Modelo: <%= producto.modelo.slice(0,19) %></p>
          <p>Precio: <%= producto.precio %></p>
          <p>Descuento: <%= producto.discount %> </p>
        </div>

        <div class="containerBtns">
          <a href="/admin/edit/<%- producto.id %> ">Editar</a>
          <form action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
            <button type="submit">Eliminar</button>
          </form>
         
        </div>
      </div>
        <% }) %>
      
    </div>
  </body>
</html>
