<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body class="body-product">
    <%- include('partials/header')  %> 
        <main class="main-product">
            <%- include('partials/ul') %> 
            <section class="cards-product">
               <% getProducts.forEach(product => { %>
                    <article class="product-item">
                    <div class="img-article">
                        <img src="/images/<%- product.image ? product.image : 'default.png' %>" alt="">
                    </div>
                    <div class="description-product">
                        <h4><% if(product.modelo.length > 19){ %>
                            <% let modeloSlice = product.modelo.slice(0,19) %>
                            <%= modeloSlice %>
                        <% }else{ %> 
                    <%= product.modelo %> 
                <% } %> </h4>
                        <P>$<%- product.precio %></P>
                        <p>descuento: <strong>%<%- product.discount %></strong></p>
                        <button class="btn-product"><a href="/products/detalle/<%- product.id %>">Ver producto</a></button>
                    </div>
                </article>
               <% }) %> 
               
            </section>
        </main>
        <%- include('partials/footer')  %> 
    </body>
    </html>