<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body class="body-product">
    <%- include('partials/header')  %> 
        <main class="main-product">
            <div class="simil-body">
            <nav class="full-screen-nav">
                <div class="backdrop"></div>
                <ul>
                    <li ><a href="">Alimentacion</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Microprocesadores</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Refrigeracion</a></li>
                    <li><a href="">Gabinetes</a></li>
                    <li><a href="">Teclados y mouses</a></li>
                    <li><a href="">Audio</a></li>
                    <li><a href="">Software</a></li>
                    <li><a href="">Monitores</a></li>
                </ul>
            </nav>
    
            <div class="content-product">
                <button class="trigger"><i class="fas fa-chevron-down"></i></button>
            </div>
    
            <script src="../javascript/porqueria.js"></script>
            </div>
            <section class="list-product">
                <div id="lista">
                    <h4>Categorias</h4>
                    <ul class="ul-product">
                        <li ><a href="">Alimentacion</a></li>
                        <li><a href="">Almacenamiento</a></li>
                        <li><a href="">Microprocesadores</a></li>
                        <li><a href="">Motherboards</a></li>
                        <li><a href="">Memorias</a></li>
                        <li><a href="">Placas de video</a></li>
                        <li><a href="">Refrigeracion</a></li>
                        <li><a href="">Gabinetes</a></li>
                        <li><a href="">Teclados y mouses</a></li>
                        <li><a href="">Audio,parlantes,auriculares y mic</a></li>
                        <li><a href="">Software</a></li>
                        <li><a href="">Monitores</a></li>
                         <li><a href=""></a></li>
                    </ul>
                </div>
            </section>
            <section class="cards-product">
               <% productosNotebook.forEach(product => { %>
                    <article class="product-item">
                    <div class="img-article">
                        <img src="/images/<%- product.image %>" alt="">
                    </div>
                    <div class="description-product">
                        <h4><% if(product.modelo.length > 19){ %>
                            <% let modeloSlice = product.modelo.slice(0,19) %>
                            <%= modeloSlice %>
                        <% }else{ %> 
                    <%= product.modelo %> 
                <% } %> </h4>
                        <P><%- product.precio %></P>
                        <button class="btn-product"><a href="/products/detalle/<%- product.id %>">Ver producto</a></button>
                    </div>
                </article>
               <% }) %> 
                
                
            </section>
        </main>
        <%- include('partials/footer')  %> 
    </body>
    </html>